<a href="https://colab.research.google.com/github/beatrizgo042/Pandas-conhecendo-a-biblioteca/blob/main/desafio1_pandas_aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
url = "https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv"
pd.read_csv(url)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

In [7]:
alunos = pd.read_csv(url)
alunos.head(10)

     Nome  Idade  Notas  Aprovado
0     Ary     20    7.5      True
1     Ana     18    NaN     False
2   Cátia     27    2.5     False
3   Denis     18    5.0     False
4    Beto     21   10.0      True
5   Bruna     23    NaN     False
6    Dara     21    7.0      True
7  Carlos     19    6.0      True
8   Alice     35    5.6     False
9   Vitor     28    NaN     False

In [8]:
alunos.tail(5)

      Nome  Idade  Notas  Aprovado
13   Mirla     25    9.0      True
14   Paulo     37    NaN     False
15  Mylena     29    7.0      True
16   Lucas     33    NaN     False
17   Nadia     34    8.0      True

In [10]:
alunos.shape

(18, 4)

In [9]:
alunos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      18 non-null     object
 1   Idade     18 non-null     int64
 2   Notas     12 non-null     float64
 3   Aprovado  18 non-null     bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 578.0+ bytes

In [11]:
alunos[["Nome", "Idade"]]

         Nome  Idade
0         Ary     20
1         Ana     18
2       Cátia     27
3       Denis     18
4        Beto     21
5       Bruna     23
6        Dara     21
7      Carlos     19
8       Alice     35
9       Vitor     28
10     Daniel     21
11       Igor     24
12  Sthefanie     26
13      Mirla     25
14      Paulo     37
15     Mylena     29
16      Lucas     33
17      Nadia     34

In [12]:
alunos["Idade"].mean()

25.5

In [13]:
alunos["Idade"].median()

24.5

In [ ]:
alunos.mpl